page {
	min-width: 100%;
	min-height: 100%;
	background: #E6E6E6;
	color: #354e70;
}

@keyframes aniShow {
	0% {
		transform: scale(0);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.aniShow {
	animation: aniShow .6s ease-in-out forwards;
}

@keyframes opShow {
	0% {
		opacity: 0.1;
	}

	100% {
		opacity: 1;
	}
}

.opShow {
	animation: opShow .6s ease-in-out forwards;
}


.content {
	min-height: 100%;
	background: url(../../static/bg.jpg) no-repeat 50% 100%;
	background-size: cover;
}

.page-main {
	width: 96%;
	padding: 0 2%;
}

.padding-big {
	padding: 200upx 0 0;
}

.form-box {
	width: 100%;
	border-radius: 15upx;
	overflow: hidden;
	box-shadow: 0 0 20upx 15upx #b0cdf2;
	background: #FFFFFF;
	position: relative;
}

.f-row {
	background: #FFFFFF;
	color: #666666;
	position: relative;
	/* border-bottom: 1upx solid #F4F4F4; */
}

.f-row:last-child {
	border-bottom: none;
}

.f-row-title {
	text-align: center;
	font-size: 58upx;
	color: #354e70;
	line-height: 2;
	padding: 30upx 15upx;
}

.phone-code-ipt {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-between;
}

.phone-code-input {
	width: 50%;
	position: relative;
}

.phone-code-input:after {
	content: " ";
	background: #354e70;
	width: 1px;
	height: 70%;
	right: 0;
	position: absolute;
	top: 15%;
}

.user-form .cruise-input.phone-code {
	text-align: center;
	color: #354e70;
	flex: 1;
}

.user-form .cruise-input.phone-code.countdown {
	color: #BDBDBD;
}

.cruise-input {
	line-height: 1.4;
	padding: 30upx;
	text-align: center;
	font-size: 38upx;
}

.bin-code-ipt {
	font-size: 32upx;
	color: #FFFFFF;
	background: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.user-input {
	padding: 0 30upx;
}

.user-input .cruise-input {
	padding: 30upx 0;
	border-bottom: 1px solid #354e70;
}

.f-row-code {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 80%;
	padding: 0 10%;
}

.f-row-code text {
	width: 50upx;
	height: 100upx;
	line-height: 1.4;
	border: none;
	border-bottom: 2upx solid #b2bfbd;
	text-align: center;
	color: #4c4e60;
	font-size: 44upx;
	display: flex;
	justify-content: center;
	align-items: center;
}

.f-row-code text.focus {
	border-color: #354e70;
}

.err-ipt {
	color: #FF3333;
}

.bin-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bin-form {
	margin: 200upx 0 100upx;
}

.user-form {
	margin: 0 0 100upx;
}

.user-form .cruise-input {
	text-align: left;
	font-size: 32upx;
}


.btn-box {
	width: 100%;
	position: relative;
	padding: 80upx 0 50upx;
}

.errTip {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 100upx;
	color: #FFFFFF;
	font-size: 32upx;
	position: absolute;
	z-index: 5;
	top: 40%;
	left: 10%;
	border-radius: 10upx;
	background: rgba(0, 0, 0, .7);
}

.submit-btn {
	width: 90%;
	margin: 0 auto;
	background: #354e70;
	color: #FFFFFF;
	font-size: 32upx;
	letter-spacing: 4upx;
	line-height: 2;
	padding: 20upx 0;
	text-align: center;
	border-radius: 10upx;
}

.btn-big {
	width: 100%;
}

.btn-disabled {
	background: #B3B3B3;
}

.ticket-box {
	padding-bottom: 100upx;
}

.ticket-main {
	padding-bottom: 100upx;
}

.ticket-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	line-height: 1.2;
	padding: 90upx 30upx 40upx;
}

.tk-title {
	font-size: 60upx;
	line-height: 1.4;
}

.tk-sub-title {
	font-size: 38upx;
	line-height: 1.4;
	position: relative;
	padding: 40upx 0;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	align-content: center;
	width: 100%;
}

.tk-sub-title:before {
	content: " ";
	background: #354e70;
	width: 100upx;
	height: 4upx;
	border-radius: 50% 0 0 50%;
}

.tk-sub-title:after {
	content: " ";
	background: #354e70;
	width: 100upx;
	height: 4upx;
	border-radius: 0 50% 50% 0;
}

.ticket-model {
	width: 100%;
	margin: 0 auto 80upx;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.card-img {
	display: block;
	width: 100%;
}

.tk-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 2;
	padding: 30upx 0;
	width: 50%;
	position: relative;
}

.ticket-price {
	font-size: 38upx;
}

.ticket-price:after {
	content: " ";
	background: #D5D5D5;
	width: 1px;
	height: 80%;
	position: absolute;
	right: 0;
}

.ticket-info {
	font-size: 30upx;
}

.popup-btns {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-content: center;
	align-items: center;
	padding: 15upx 40upx 30upx;
}

.btn-agre {
	width: 45%;
	height: 80upx;
	padding: 10upx 0;
	color: #FFFFFF;
	font-size: 28upx;
	background: #354e70;
	border: 2upx solid #354e70;
	border-radius: 20upx;
	overflow: hidden;
}

.btn-cancel {
	background: #FFFFFF;
	color: #354e70;
}
